pbr>=1.4
argparse
launchpadlib
requests>=1.1
Jinja2>=2.6  # BSD License (3 clause)
oslo.concurrency>=1.4.1         # Apache-2.0
parawrap
# 2013.6 is the first version of pytz that is PEP 440 compatible.
pytz>=2013.6
PyYAML>=3.1.0
zuul
simplejson>=2.2.0
reno>=0.1.1
