/* Custom CSS rules */
i {
  margin-right: 0.25em;
}

.reveal .creativecommons {
  margin-top: 2em;
  margin-bottom: 0;
}

.reveal .creativecommons a img {
  border-width: 0;
  margin: 0;
}

.reveal .creativecommons span {
  font-size: 0.4em;
}
